@import "tailwindcss";

@theme {
  --font-mono: 'Courier New', Courier, monospace;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  font-family: var(--font-mono);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}